@font-face {
    font-family: 'OpenDyslexic3bold';
    src: url('OpenDyslexicThree-Bold.woff2') format('woff2'),
        url('OpenDyslexicThree-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

